@charset "utf-8";

/*全局*/
body{
	font-family:Helvetica,Arial,"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",SimSun,"宋体",sans-serif;
	font-size:62.5%;
}

a:link,a:visited,a:hover,a:active{
    text-decoration: none;
}
a:link,a:visited,a:active{
    color: #fff;
}

img{border: none;}

/*导航*/
.nav{
	height: 100%;
	min-height: 730px;
	width: 240px;
	background-color: #191b1f;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.nav .logo_wrap{
	height: 240px;
	width: 240px;
	display: table;
	+position: relative;
}
.nav .logo_wrap .logo{
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	+position: absolute;
	+top: 50%;
	+left: 50%;
}
.nav .logo_wrap .logo img{
	width: 160px;
	height: 160px;
	+position: relative;
	+top: -50%;
	+left: -50%;
}
.nav .logo_wrap .logo:hover img{
	/*width: 160px;*/
	/*height: 160px;*/
	-webkti-transform:scale(0.94);
	-moz-transform:scale(0.94);
	-ms-transform:scale(0.94);
	-o-transform:scale(0.94);
	transform:scale(0.94);
}
.nav .mian_nav{
	width: 100%;
}
.nav .mian_nav li{
	width: 100%;
}
.nav .mian_nav li a{
	display: block;
	font-size: 16px;
	line-height: 60px;
	height: 60px;
	background-color: #33363d;
	border-bottom: 1px solid #262a30;
	text-align: center;
	padding: 0 10px 0 0;
}
.nav .mian_nav li a span{
	padding: 0 10px 0 0;
	font-size: 32px;
	line-height: 60px;
	height: 60px;
	vertical-align: middle;
}

.nav .mian_nav li a:hover{
	background-color: #101114;
	color: #5a6273;
	/*font-weight: bold;*/
}
.nav .mian_nav li a:hover span{	
	padding: 0 20px 0 0;
	color: #5a6273;
}
/*分享*/
.nav .share_nav{
	color: #5a6273;
	text-align: center;
	position: absolute;
	bottom: 50px;
	display: block;
	width: 100%;
	padding: 10px 0;
}
.nav .share_nav li{
	display:inline-block;
	+display:inline;
	+zoom: 1;
}
.nav .share_nav li a{
	display: block;
}
.nav .share_nav li a span{
	font-size: 2.4em;
	+font-size: 24px;
	margin: 0 6px;
	color: #5a6273;
}
.nav .share_nav li a:hover span{
	color: #fff;
}

/*收缩*/
.nav .btn_contraction{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	/*line-height: 60px;*/
	background-color: #1f2228;
	border-top:1px solid #262930; 
	color: #5a6273;
	cursor: pointer;
}
.nav .btn_contraction span{
	font-size: 3.2em;
	+font-size: 32px;
	line-height: 50px;
	/*transform:rotate(0deg);*/
	display: block;
}
.nav .btn_contraction:hover span{
	color: #fff;
	padding: 0 10px 0 0;
	/*-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);*/
	/*transform:rotate(180deg);*/
}

.nav,
.nav .logo_wrap,
.nav .logo_wrap .logo,
.nav .logo_wrap .logo img,
.nav .mian_nav,
.nav .mian_nav li,
.nav .mian_nav li a,
.nav .mian_nav li a span,
.nav .share_nav,
.nav .share_nav li,
.nav .share_nav li a,
.nav .share_nav li a span,
.nav .btn_contraction,
.nav .btn_contraction span{
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
}


/*导航收缩*/
.nav_mini{
	width:60px;
}
.nav_mini .logo_wrap{
	height: 240px;
	width: 60px;
}
.nav_mini .logo_wrap .logo img{
	width: 50px;
	height: 50px;
}
.nav_mini .mian_nav li a{
	font-size: 0;
	padding: 0;
}
.nav_mini .mian_nav li a span{
	height: 60px;
	width: 60px;
	/*display: block;*/
	padding: 0;
}
.nav_mini .mian_nav li a:hover span{	
	padding: 0;
}

.nav_mini .share_nav{}
.nav_mini .share_nav li{}
.nav_mini .share_nav li a{
	padding: 6px 0;
	/*padding: 0 10px 0 0;*/
}
.nav_mini .share_nav li a span{}
.nav_mini .share_nav li a:hover span{}
.nav_mini .btn_contraction{}
.nav_mini .btn_contraction span{

}
.nav_mini .btn_contraction:hover span{
	padding: 0 0 0 10px;
	/*transform:rotate(180deg);*/
}


.nav_mini,
.nav_mini .logo_wrap,
.nav_mini .logo_wrap .logo,
.nav_mini .logo_wrap .logo img,
.nav_mini .mian_nav,
.nav_mini .mian_nav li,
.nav_mini .mian_nav li a,
.nav_mini .mian_nav li a span,
.nav_mini .share_nav,
.nav_mini .share_nav li,
.nav_mini .share_nav li a,
.nav_mini .share_nav li a span,
.nav_mini .btn_contraction,
.nav_mini .btn_contraction span{
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
}


.header,
.footer,
.content{
	margin:0 0 0 240px;
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
}


/*头部*/
.header{
	
}

/*子页头部*/
.header_sub{
	height: 370px;
	/*width: 1060px;*/
	/*background-color: #13aee4;*/
	color: #fff;
	/*padding: 0 70px;*/
}
.header_sub .sub_title1{
	font-size: 6em;
	padding: 100px 70px 0 70px;
	/*margin: 100px 0 0 0;*/
	/*position:absolute;*/
}
.header_sub .sub_title2{
	font-size: 2em;
	padding: 40px 70px 0 70px;
	/*margin: 50px 0 0 0;*/
}

.header_sub.product_head,
.header_sub.news_head,
.header_sub.contact_head,
.header_sub.about_head{
	background: #13aee4 url(../images/bg_head_sub_banner.png) no-repeat right top;
	/*background-position: right 0px;*/
	/*background-position: 500px 0px;*/
	/*-webkit-transition:background-position 0.4s ease-out 1.7s;*/
}

.header_sub.product_head{
	background-position: right 0px;
}
.header_sub.news_head{
	background-position: right -370px;
}
.header_sub.contact_head{
	background-position: right -740px;
}
.header_sub.about_head{
	background-position: right -1110px;
}
 

/*内容*/
.content{
	/*min-width: 1040px;*/
	/*margin: 0 auto;*/
	background-color: #f2f5f6;
}

/*分页内容*/
.content_sub{
	color: #000;
}
.content_sub .sub_title1{
	font-size: 6em;
}
.content_sub .sub_title2{
	font-size: 2em;
}

/*页脚*/
.footer{

}

.footer .slogan{
	height:80px;
	text-align:center;
	background-color:#191b1f;
	color: #5a6273;
}
.footer .slogan .logo{
	max-width: 60px;
	padding: 10px 0;
	margin: 0;
	vertical-align: middle;
	opacity: 0.8;
}
.footer .slogan .txt_en,
.footer .slogan .txt_ch{
	vertical-align: middle;
	opacity: 0.8;
	height: 80px;
	padding: 0 20px;
}
.footer .slogan .txt_en{
	text-transform:uppercase;
	font-size:26px; 
	padding: 0 20px 0 10px;	
}
.footer .slogan .txt_ch{
	font-size:16px;
}
.footer .slogan:hover{
	/*background-color: #33363d;*/
	color: #fff;
}

.footer .slogan:hover .txt_en{
	padding: 0 40px 0 10px;
	opacity: 1;
}
.footer .slogan:hover .txt_ch{
	opacity: 1;
}

.footer .slogan .logo:hover{
	/*transform:scale(0.9);*/
}

.footer .copyright{
	height: 50px;
	line-height: 50px;
	color: #000;
	font-size: 1.2em;
}
.footer .copyright .name{
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
	padding: 0 0 0 30px;
	+float: left;
}
.footer .copyright .nav_bottom{
	float: right;
	padding-right: 30px;
}
.footer .copyright .nav_bottom a{
	border-left: 1px solid #000;
	padding: 0 10px;
	line-height: 50px;
	color: #000;
	
	/*transform: scale(0,1);*/
} 
.footer .copyright .nav_bottom a:first-child{
	border-left:none;
}
.footer .copyright .nav_bottom a:hover{
	color: #1f2228;
	padding: 0 16px 0 4px;
}


.footer .slogan,
.footer .slogan .logo,
.footer .slogan .txt_en,
.footer .slogan .txt_ch,
.footer .copyright .nav_bottom a{
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
}


.header_ext,
.content_ext,
.footer_ext{
	margin:0 0 0 60px;
}






/*通用组件*/

/*首页 图片模块*/
.mod_show_block{
	overflow: hidden;
	position: relative;
	background-color: #fff;
	/*display: block;*/
}
/*首页 图片模块 图*/
.mod_show_block .img{
	width: 240px;
	height: 240px;
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
	position: absolute;
}
.mod_show_block:hover .img{
	-webkit-transform:scale(1.1,1.1);
	-moz-transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1);
	-o-transform:scale(1.1,1.1);
	transform:scale(1.1,1.1);
}
/*首页 图片模块 文字*/
.mod_show_block .txt,
.mod_show_block .more{
	padding: 0 15px;
	+position: relative;
}
.mod_show_block .txt{
	font-size: 1.8em;
	position: inherit;
	padding: 15px 20px 0 20px;
}
.mod_show_block .txt .title{
	color: #a4a4a4;
	line-height: 1.667em;
}
.mod_show_block .txt .describe{
	color: #000;
	line-height: 1.667em;
}
/*首页 图片模块 查看更多*/
.mod_show_block .more{
	position: absolute;
	bottom: 0;
	height: 50px;
	padding: 0;
	/*padding: 0 15px 0 45px;*/
	/*margin: 0 0px 0 -30px;*/
	width: 100%;
}
.mod_show_block .more .describe{
	position:static;
	line-height: 50px;
	font-size: 3.6em;
	padding: 0 10px 0 20px;
	+float: left;
}
.mod_show_block .more .btn_more{
	color: #8a8a8a;
	float: left;
	cursor: pointer;
	padding: 0 10px 0 20px;
}
.mod_show_block .more .btn_more .span_icon{
	font-size: 2.2em;
	line-height: 50px;
	float: left;
}
.mod_show_block .more .btn_more .btn_txt{
	font-size: 1.4em;
	line-height: 50px;
	float: left;
}
.mod_show_block .more,
.mod_show_block .more .describe,
.mod_show_block .more .btn_more,
.mod_show_block .more .btn_more .span_icon,
.mod_show_block .more .btn_more .btn_txt{
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
}

.mod_show_block .more:hover .btn_more{
	-webkit-transform:translate(10px);
	-moz-transform:translate(10px);
	-ms-transform:translate(10px);
	-o-transform:translate(10px);
	transform:translate(10px);
	color: #464646;
}
.mod_show_block .more:hover .btn_more .span_icon{
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
	/*-moz-transform-origin:20% 40%;*/
	color: #464646;
}

.mod_show_block_more_white{}
.mod_show_block_more_white .more .btn_more,
.mod_show_block_more_white .more:hover .btn_more,
.mod_show_block_more_white .more:hover .btn_more .span_icon{
	color: #fff;
}



	/*没有内容 只有图片*/
.mod_show_block_none{}

.mod_show_block_none .txt,
.mod_show_block_none .more{
	display: none;
}

	/*没有文字*/
.mod_show_block_nonetitle{}

.mod_show_block_nonetitle .txt{
	display: none;
}
.mod_show_block_nonetitle .more{
	background-color: rgba(0,0,0,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#88000000', endColorstr='#88000000');
}
:root .mod_show_block_nonetitle .more{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#00000000', endColorstr='#00000000');
}

	/*没有图片*/
.mod_show_block_noneimg{}

.mod_show_block_noneimg .img{
	display: none;
}

	/*没有更多 */
.mod_show_block_nonemore{}

.mod_show_block_nonemore .more{
	display: none;
}

	/*一倍 默认*/
.mod_show_block_1x{

}

	/*二倍*/
.mod_show_block_2x{

}
.mod_show_block_2x .img{
	width: 480px;
	height: 480px;
}
/*.mod_show_block_2x .more .describe{
	color: #fff;
}*/
.mod_show_block_2x .txt{
	padding: 30px 20px 0 20px;
}
.mod_show_block_2x .txt .title{
	font-size: 30px;
	color: #000;
}
.mod_show_block_2x .txt .describe{
	font-size: 18px;
}

.mod_show_block_2x .more{
	background-color: rgba(255,0,0,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#80ff0000', endColorstr='#80ff0000');
	height: 100px;
	color: #fff;
}
:root .mod_show_block_2x .more{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#00ff0000', endColorstr='#00ff0000');
}

.mod_show_block_2x .more .describe{
	line-height: 100px;
}
.mod_show_block_2x .more .btn_more{
	padding: 0 30px 0 20px;
}

.mod_show_block_2x .more,
.mod_show_block_2x .more .btn_more,
.mod_show_block_2x .more:hover .btn_more,
.mod_show_block_2x .more:hover .btn_more .span_icon{
	color: #fff;
}
.mod_show_block_2x .more .btn_more{
	float: right;
}
.mod_show_block_2x .more .btn_more .span_icon,
.mod_show_block_2x .more .btn_more .btn_txt{
	line-height: 100px;
	float: left;
}


	/*2宽1高*/
.mod_show_block_2w1h{

}
.mod_show_block_2w1h .img{
	width: 480px;
	height: 240px;
}
.mod_show_block_2w1h .txt{
	padding: 30px 20px 0 20px;
}
.mod_show_block_2w1h .txt .describe{
	color: #fff;
}

.mod_show_block_2w1h .more{
	background-color: rgba(0,0,0,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#80000000', endColorstr='#80000000');
}
:root .mod_show_block_nonetitle .more{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#00000000', endColorstr='#00000000');
}

.mod_show_block_2w1h .more .btn_more,
.mod_show_block_2w1h .more:hover .btn_more,
.mod_show_block_2w1h .more:hover .btn_more .span_icon{
	color: #fff;
}


/*1宽2高*/
.mod_show_block_1w2h{
	
}
.mod_show_block_1w2h .more{
	/*background-color: rgba(255,0,0,0.5);*/
}


/*特殊*/
.mod_show_block_special{}

.mod_show_block_special .more{
	background-color: rgba(4,72,167,0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#800448a7', endColorstr='#800448a7');
	height: 50px;
	color: #fff;
}
:root .mod_show_block_special .more{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#00000000', endColorstr='#00000000');
}
.mod_show_block_special .more .describe{
	font-size:26px; 
}
.mod_show_block_special .more .btn_more{
	padding: 0 30px 0 20px;
}
.mod_show_block_special .more,
.mod_show_block_special .more .btn_more,
.mod_show_block_special .more:hover .btn_more,
.mod_show_block_special .more:hover .btn_more .span_icon{
	color: #fff;
}
.mod_show_block_special .more .btn_more{
	float: right;
}

.mod_show_block .special_more_icon{
	color: #c9d0d4;
	text-align: center;
	font-size: 12em;
	display: block;
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
}
.mod_show_block .special_more_icon:hover{
	color: #a4a4a4;
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
}


/*产品展示 列表模块*/
.mod_show_list{
	min-width:1040px;
	margin: 0 auto;
	text-align: center; 
}
.mod_show_list .list{
	display: inline-block;
	+display: inline;
	+zoom:1;
	width:340px;
	height:370px;
	margin: 0 0 10px 0;
}
.mod_show_list .list .link{
	display: block;
	width:340px;
	height: 370px;
}
.mod_show_list .list .link:hover{
	background-color: #fff;
}
.mod_show_list .list .link .img{
	width: 180px;
	height: 180px;
}
.mod_show_list .list .link .title,
.mod_show_list .list .link .txt{
	/*font-size: 1.6em;*/
}
.mod_show_list .list .link .title{
	font-size: 1.8em;
	color: #000;
	margin: 0 0 24px 0;
}
.mod_show_list .list .link .txt{
	color: #8a8a8a;
	font-size: 1.6em;
	line-height: 22px;
	text-align: left;
	text-indent: 2em;
	padding: 0 20px;
	height: 66px;
	/*transition-delay:0.6s;*/
}
.mod_show_list .list:hover .mob_btn_dynamic.ext_btn_green{
	opacity: 1;
}

.mod_show_list,
.mod_show_list .list .link{
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
}




/*图文*/
.mob_imgtxt{
	position: relative;
	overflow: hidden;
}

.mob_imgtxt .img{
	width: 100%;
	height: auto;
	display: block;
}
.mob_imgtxt .wrap{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
}
.mob_imgtxt .wrap .lt,
.mob_imgtxt .wrap .lb,
.mob_imgtxt .wrap .rt,
.mob_imgtxt .wrap .rb{
	width: 50%;
	height: 50%;
	position: absolute;
	display: block;
}

.mob_imgtxt .wrap .lt{
	top: 0%;
	left: 0%;
}
.mob_imgtxt .wrap .lb{
	top:50%;
	left: 0%;
}
.mob_imgtxt .wrap .rt{
	top:0%;
	left: 50%;
}
.mob_imgtxt .wrap .rb{
	top:50%;
	left: 50%;
}

.mob_imgtxt .wrap .title,
.mob_imgtxt .wrap .txt{
	/*width: 70%;*/
	width: 58%;
	padding: 0 0 0 20.8%;/* 200/960 */
}

.mob_imgtxt .wrap .title{
	font-size: 3.8em;
	margin: 12.5% 0 5% 0; /* 100/960 48/960 */
	color: #000000;
}
.mob_imgtxt .wrap .txt{
	font-size: 1.6em;
	line-height: 1.6em;
	color: #a4a4a4;
}

/*扩展 大图缩放*/
.mob_imgtxt:hover .img_scale{
	-webkit-transform:scale(1.1);
	-mos-transform:scale(1.1);
	-mz-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
}


/*扩展 文字白色*/
.mob_imgtxt .wrap .white .title,
.mob_imgtxt .wrap .white .txt{
	color: #fff;
}


/*扩展 位置居中*/
.mob_imgtxt .wrap_c{
	position: absolute;
	width: 50%;
	height: 100%;
	top: 12.5%;
	left: 50%;
	/*margin: 0 0 0 -20%;*/
	margin: 0;
	z-index: 999;
	/*background-color: red;*/
}

.mob_imgtxt .wrap_c .title{
	font-size: 4.4em;
	color: #000;
	/*line-height: */
	/*width: 70%;*/
	width: 54.216666666%;
	min-width:400px;
	margin: 0 0 2% 0;
}
.mob_imgtxt .wrap_c .txt{
	font-size: 2em;
	line-height: 1.4em;
	color: #a4a4a4;
	width: 54.216666666%;
	min-width:400px;
	/*width: 60%;*/
	margin: 0 0 12.5% 0;
}
.mob_imgtxt .wrap_c .ul{
	height: 100%;
	min-width: 620px;
}
.mob_imgtxt .wrap_c .ul .list{
	display: inline-block;
	+display: inline;
	+zoom: 1;
	width: 28%;
	height: 28%;/*230px/960px*/

	width: 180px;
	height: 180px;

	border-radius: 50%;
	behavior: url(js/hack/PIE/PIE.htc)\9;
	border: 2px solid #fff;
	/*overflow: hidden;*/

	margin: 0 3.125% 0 0;
	overflow: hidden;
	-webkit-transform: translateZ(0);
}
.mob_imgtxt .wrap_c .ul .list .photo{

}

.mob_imgtxt .wrap_c .ul .list_txt{
	border: none;
	text-align: center;
	font-size: 5em;
	line-height: 184px;
}

.mob_imgtxt .wrap_c .ul .list:hover .photo{
	-webkti-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
}

.mob_imgtxt .ml_minus20{
	margin: 0 0 0 -10%;
}



/*扩展 背景不透明*/
.mob_imgtxt .ext_bg_opacity{
	width: 100%;
}

.mob_imgtxt .ext_bg_opacity .lt,
.mob_imgtxt .ext_bg_opacity .lb,
.mob_imgtxt .ext_bg_opacity .rt,
.mob_imgtxt .ext_bg_opacity .rb{
	width: 31.25%;/*300/1920*/
	position: absolute;
	display: block;
	background-color: rgba(0,0,0,0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#99000000', endColorstr='#99000000');
	border-radius: 8px;
	behavior: url(js/hack/PIE/PIE.htc)\9;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
}

:root .mob_imgtxt .ext_bg_opacity .lt,
:root .mob_imgtxt .ext_bg_opacity .lb,
:root .mob_imgtxt .ext_bg_opacity .rt,
:root .mob_imgtxt .ext_bg_opacity .rb{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#00000000', endColorstr='#00000000');
}


.mob_imgtxt .ext_bg_opacity .lt{
	top: 12.5%;/*120/1920*/
	right: auto;
	bottom: auto;
	left: 10.4%;
}
.mob_imgtxt .ext_bg_opacity .lb{
	top: auto;
	right: auto;
	bottom: 12.5%;
	left: 10.4%;
}
.mob_imgtxt .ext_bg_opacity .rt{
	top:12.5%;
	right: 10.4%;
	bottom: auto;
	left: auto;
}
.mob_imgtxt .ext_bg_opacity .rb{
	top:auto;
	right: 10.4%;
	bottom: 12.5%;
	left: auto;
}

.mob_imgtxt .ext_bg_opacity .title,
.mob_imgtxt .ext_bg_opacity .txt{
	padding: 0 5% 0 5%;
	width: 90%;
	/* 200/960 */
	height: auto;
	color: #fff;
}

.mob_imgtxt .ext_bg_opacity .title{
	font-size: 3.8em;
}
.mob_imgtxt .ext_bg_opacity .txt{
	font-size: 1.6em;
	line-height: 1.6em;
}


.mob_imgtxt .ext_bg_opacity .lt:hover,
.mob_imgtxt .ext_bg_opacity .lb:hover,
.mob_imgtxt .ext_bg_opacity .rt:hover,
.mob_imgtxt .ext_bg_opacity .rb:hover{
	background-color: rgba(0,0,0,0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#b2000000', endColorstr='#b2000000');
}

:root .mob_imgtxt .ext_bg_opacity .lt:hover,
:root .mob_imgtxt .ext_bg_opacity .lb:hover,
:root .mob_imgtxt .ext_bg_opacity .rt:hover,
:root .mob_imgtxt .ext_bg_opacity .rb:hover{
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#00000000', endColorstr='#0000000');
}

.mob_imgtxt,
.mob_imgtxt .img,
.mob_imgtxt .wrap,
.mob_imgtxt .wrap .lt,
.mob_imgtxt .wrap .lb,
.mob_imgtxt .wrap .rt,
.mob_imgtxt .wrap .rb,
.mob_imgtxt .wrap .title,
.mob_imgtxt .wrap .txt,
.mob_imgtxt .wrap .title,
.mob_imgtxt .wrap .txt,
.mob_imgtxt .wrap .white .title,
.mob_imgtxt .wrap .white .txt{
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
}

.mob_imgtxt .img_scale,
.mob_imgtxt .wrap_c .ul .list .photo{
	-webkit-transition:all 0.4s ease-out;
	-moz-transition:all 0.4s ease-out;
	-ms-transition:all 0.4s ease-out;
	-o-transition:all 0.4s ease-out;
	transition:all 0.4s ease-out;
}

/**/
.mod_rotate{
	/*position: relative;*/
	width: 336px;
	padding: 84px 0 84px 0;
}
.mod_rotate .wrap{
	width: 160px;
	height: 160px;
	margin: 4px;
	position: relative;
	z-index: 10;
	float: left;
	font-size: 0;

}
.mod_rotate .wrap .rotate{
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
	   
   filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=0.7071067811865474,
            M12=-0.7071067811865477,
            M21=0.7071067811865477,
            M22=0.7071067811865474,
            SizingMethod='auto expand');

	width: 112px;/* 80平方+80平方 的和开方  */
	height: 112px;
	display: block;
	border-radius:10px;
	behavior: url(js/hack/PIE/PIE.htc)\9;
	overflow: hidden;
	zoom: 1;

}
:root .mod_rotate .wrap .rotate{

}
.mod_rotate .wrap .img{
	display: block;
	margin: -26px 0 0 -26px;
	margin: -56px 0 0 -56px\9;
	height: 160px;
	width: 160px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
	background:url(../images/about_rotate_672x492.jpg) no-repeat;
	background-position: 0 0;
	
	filter: progid:DXImageTransform.Microsoft.Matrix(
			M11=0.7071067811865483, 
			M12=0.7071067811865467, 
			M21=-0.7071067811865467, 
			M22=0.7071067811865483, 
			SizingMethod='auto expand');
}

:root .mod_rotate .wrap .img{
	margin: -26px 0 0 -26px\9;
}


/* 80 半高 + 4 边距 */
/**/
.mod_rotate .wrap .x1y1{ background-position: -4px -84px; }
.mod_rotate .wrap .x1y2{ background-position: -4px -252px; }
.mod_rotate .wrap .x1y3{ background-position: -4px -416px; }
.mod_rotate .wrap .x1y4{ background-position: -4px -582px; }

.mod_rotate .wrap .x2y1{ background-position: -172px -84px; }
.mod_rotate .wrap .x2y2{ background-position: -172px -252px; }
.mod_rotate .wrap .x2y3{ background-position: -172px -416px; }
.mod_rotate .wrap .x2y4{ background-position: -172px -582px; }

.mod_rotate .wrap .x3y1{ background-position: -328px -84px; }
.mod_rotate .wrap .x3y2{ background-position: -328px -252px; }
.mod_rotate .wrap .x3y3{ background-position: -328px -416px; }
.mod_rotate .wrap .x3y4{ background-position: -328px -582px; }

.mod_rotate .wrap .x4y1{ background-position: -492px -84px; }
.mod_rotate .wrap .x4y2{ background-position: -492px -252px; }
.mod_rotate .wrap .x4y3{ background-position: -492px -416px; }
.mod_rotate .wrap .x4y4{ background-position: -492px -582px; }

/*竖列*/
.mod_rotate .wrap .list_x1y1{ background-position: -84px -4px; }
.mod_rotate .wrap .list_x1y2{ background-position: -84px -168px; }
.mod_rotate .wrap .list_x1y3{ background-position: -84px -332px; }
.mod_rotate .wrap .list_x1y4{ background-position: -84px -496px; }

.mod_rotate .wrap .list_x2y1{ background-position: -252px -4px; }
.mod_rotate .wrap .list_x2y2{ background-position: -252px -168px; }
.mod_rotate .wrap .list_x2y3{ background-position: -252px -332px; }
.mod_rotate .wrap .list_x2y4{ background-position: -252px -496px; }

.mod_rotate .wrap .list_x3y1{ background-position: -416px -4px; }
.mod_rotate .wrap .list_x3y2{ background-position: -416px -168px; }
.mod_rotate .wrap .list_x3y3{ background-position: -416px -332px; }
.mod_rotate .wrap .list_x3y4{ background-position: -416px -496px; }

.mod_rotate .wrap .list_x4y1{ background-position: -582px -4px; }
.mod_rotate .wrap .list_x4y2{ background-position: -582px -168px; }
.mod_rotate .wrap .list_x4y3{ background-position: -582px -332px; }
.mod_rotate .wrap .list_x4y4{ background-position: -582px -496px; }


/**/

.ext_rotate{
	/*margin: -40px 0 0 0;*/
	position: absolute;
	width: 336px;
	padding: 0 0 0 0;
	top: 0px;
	left: 84px;
	font-size: 0;
	float: left;
}

.ext_rotate_01{ width: 168px; }
.ext_rotate_02{ width: 336px; }
.ext_rotate_03{ width: 504px; }
.ext_rotate_04{ width: 672px; }
.ext_rotate_05{ width: 840px; }

/* 动态按钮*/
.mob_btn_dynamic{
	position: relative;
	width: 158px;
	height: 48px;
	border: 1px solid #dcdcdc;
	color: #ccc;
}
.mob_btn_dynamic .dynamic_btn{
	width: 160px;
	height: 50px;
	display: block;
	text-align: center;
}
.mob_btn_dynamic .dynamic_btn .icon_sapn{
	color: #ccc;
	font-size: 24px;
	line-height: 50px;
	vertical-align: middle;
}
.mob_btn_dynamic .line_top,
.mob_btn_dynamic .line_right,
.mob_btn_dynamic .line_botton,
.mob_btn_dynamic .line_left{
	position: absolute;
	width: 0;
	height: 0;
	/*background-color: #fff;*/
	background-color: #888888;
}

.mob_btn_dynamic .line_top{
	height: 1px;
	top: -1px;
	left: 0px;
}
.mob_btn_dynamic .line_right{
	width: 1px;
	bottom: 0px;
	right: -1px;
}
.mob_btn_dynamic .line_botton{
	height: 1px;
	bottom: -1px;
	right: 0px;
}
.mob_btn_dynamic .line_left{
	width: 1px;
	left: -1px;
	top: 0px;
}

.mob_btn_dynamic:hover .line_top,
.mob_btn_dynamic:hover .line_botton{
	width: 100%;
}
.mob_btn_dynamic:hover .line_right,
.mob_btn_dynamic:hover .line_left{
	height: 100%;
}

.mob_btn_dynamic:hover,
.mob_btn_dynamic:hover .icon_sapn,
.mob_btn_dynamic:active .dynamic_btn,
.mob_btn_dynamic:active .icon_sapn{
	color: #000;
}

.mob_btn_dynamic:active .icon_sapn{
	padding: 0 0 0 10px;
}


.mob_btn_dynamic,
.mob_btn_dynamic .dynamic_btn,
.mob_btn_dynamic .icon_sapn,
.mob_btn_dynamic .line_top,
.mob_btn_dynamic .line_right,
.mob_btn_dynamic .line_botton,
.mob_btn_dynamic .line_left{
	-webkit-transition:all 0.4s ease-in-out;
	-moz-transition:all 0.4s ease-in-out;
	-ms-transition:all 0.4s ease-in-out;
	-o-transition:all 0.4s ease-in-out;
	transition:all 0.4s ease-in-out;
}



/*动态按钮 扩展*/
.mob_btn_dynamic.ext_btn_green{
	width: 178px;
	height: 38px;
	opacity: 0;
	margin: 0 auto;
}

.mob_btn_dynamic.ext_btn_green .dynamic_btn{
	width: 180px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #8a8a8a;
}

.mob_btn_dynamic.ext_btn_green .line_top{
	height: 1px;
	top: -1px;
	left: 0px;
}
.mob_btn_dynamic.ext_btn_green .line_right{
	width: 1px;
	bottom: 0px;
	right: -2px;
}
.mob_btn_dynamic.ext_btn_green .line_botton{
	height: 1px;
	bottom: -2px;
	right: 0px;
}
.mob_btn_dynamic.ext_btn_green .line_left{
	width: 1px;
	left: -1px;
	top: 0px;
}

.mob_btn_dynamic.ext_btn_green:hover .dynamic_btn{
	background-color: #74af12;
	color: #fff;
	/*background-color: #74af12;*/
}
.mob_btn_dynamic.ext_btn_green:hover .line_top,
.mob_btn_dynamic.ext_btn_green:hover .line_right,
.mob_btn_dynamic.ext_btn_green:hover .line_botton,
.mob_btn_dynamic.ext_btn_green:hover .line_left{
	background-color: #56810e;
}





/**/


/*
	主标题   #000000
	次标题   #a4a4a4
	颜色

	底色	 #191b1f
		
	正文     #8a8a8a

	主题颜色 #13aee4

	高亮背景 #13aee4

*/
 